<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.css" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.js"></script>

    <!-- usual styles -->
    <link rel="stylesheet" href="/stylesheets/css/nav_footer.css">
    <link rel="stylesheet" href="/stylesheets/css/create.css">

    <style media="screen">
      .create_page{
        color: red !important;
      }
    </style>

  </head>
  <body>
    <main >
      <!-- the nav bar -->
      <% include templates/nav.ejs %>
      <div class="content">
        <header>
          <h1>Edit your Blog here!</h1>
          <p>Edit the Blog here with bloggle and get the right story about your travels told.Let others know about your life filled with exitement and adventure!</p>
        </header>
        <form method="post" id="create_new">
          <h3>Author:</h3>
          <p><%= user %></p>
          <div class="input_box">
            <h3>Title</h3>
            <input type="text" name="title" value="<%= posts[id].title %>" placeholder="Title">
          </div>
          <div class="input_box">
            <h3>Image URL:</h3>
            <input type="text" name="image" value="<%= posts[id].image %>" placeholder="Image URL">
          </div>
          <h3>Post Content:</h3>
          <textarea id="summernote" name="content"><%- posts[id].content %></textarea>
          <button type="submit" name="submit" class="edit_button"><p>Edit</p></button>
        </form>

      </div>
      <!-- the footer -->
      <% include templates/footer.ejs %>
    </main>
    <script type="text/javascript">
      $('#summernote').summernote({
        height: 300,                 // set editor height
        minHeight: null,             // set minimum height of editor
        maxHeight: null,             // set maximum height of editor
        focus: true                  // set focus to editable area after initializing summernote
      });
    </script>
    <script type="text/javascript" src="scripts/create.js"></script>
  </body>
</html>
